@charset "UTF-8";

/*#menu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 10em;
}*/

.sm-img{
	height: 15%;
    width: 12%;
}

.mid-img{
	height: 20%;
    width: 20%;
}

.full-height{
	height: 350px;
}

@media screen and (min-width: 900px) {
	.mobile_lang_tw {
	  display: inline;
	  margin-left: 25px;
	  padding-left: 25px;
	  height: 30px;
	  border-left:2px solid white;
	}
}

@media screen and (max-width: 900px) {
	.navbar-brand {
		font-size:30px !important;
	}
}